In [321]:
import pandas as pd
import numpy as np
from pandas import DataFrame
import warnings
warnings.filterwarnings(action="ignore")
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import binarize
from sklearn.preprocessing import LabelEncoder
from plotnine import *
import missingno as msno
import matplotlib
from matplotlib import font_manager, rc
import platform
if platform.system()=="Windows":
    font_name=font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)
matplotlib.rcParams['axes.unicode_minus']=False

import warnings
warnings.filterwarnings("ignore")

In [322]:
import datetime
today="2020-01-17"
datetime.datetime.strptime(today,"%Y-%m-%d").date()
today="20200117"
datetime.datetime.strptime(today,"%Y%m%d").date()

datetime.datetime.today()
datetime.datetime.today().strftime("%Y")
datetime.datetime.today().strftime("%m")
datetime.datetime.today().strftime("%d")

today="2020-01-17 10:18:20.123"
datetime.datetime.strptime(today, "%Y-%m-%d %H:%M:%S.%f")

train.datetime.dt.year
train.datetime.dt.month
train.datetime.dt.day
train.datetime.dt.hour
train.datetime.dt.minute

0        0
1        0
2        0
3        0
4        0
        ..
10881    0
10882    0
10883    0
10884    0
10885    0
Name: datetime, Length: 10886, dtype: int64

In [323]:
# 1번 - bike data 불러오기, 데이터 확인
train=pd.read_csv("train.csv", parse_dates=["datetime"])
test=pd.read_csv("test.csv")
train.head()
train.info()
train.shape
train.season.value_counts()
# season 4개, weather 4개, 
train.weather.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
datetime      10886 non-null datetime64[ns]
season        10886 non-null int64
holiday       10886 non-null int64
workingday    10886 non-null int64
weather       10886 non-null int64
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
casual        10886 non-null int64
registered    10886 non-null int64
count         10886 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(8)
memory usage: 1020.7 KB

1    7192
2    2834
3     859
4       1
Name: weather, dtype: int64

In [324]:
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [325]:
test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

In [326]:
# 2번 중복확인
# 훈련 데이터, 테스트 데이터 중복 값 있는지 확인
# 훈련 데이터, 테스트 데이터 null 값 확인
train.windspeed.unique() # train.windspeed 에서 0 확인
test.atemp.unique() # test.atemp에서 0 확인
test.windspeed.unique() # test.windspeed에서 0 확인

array([26.0027,  0.    , 11.0014, 15.0013, 19.0012, 19.9995,  7.0015,
        8.9981, 12.998 , 22.0028, 16.9979,  6.0032, 27.9993, 23.9994,
       31.0009, 39.0007, 35.0008, 30.0026, 36.9974, 40.9973, 54.002 ,
       50.0021, 32.9975, 43.0006, 55.9986, 46.0022, 43.9989])

In [327]:
# 3번 datetime에서 년,월,일,시,분,초를 추출하여 각각의 column으로 구성
train["Year"]=train['datetime'].dt.year
train["Month"]=train['datetime'].dt.month
train["Day"]=train['datetime'].dt.day
train["Hour"]=train['datetime'].dt.hour
train["Minute"]=train['datetime'].dt.minute
train["Second"]=train['datetime'].dt.second

In [328]:
# 년, 월, 일, 시에 따른 평균 대여량 구하기
train_2011=train[train["Year"].isin(["2011"])]
print("2011년도 평균 대여량: ",train_2011["count"].mean())

train_2012=train[train["Year"].isin(["2012"])]
print("2012년도 평균 대여량 : ",train_2012["count"].mean())

for i in range(1,13):
    train_m=train[train["Month"].isin([i])]
    print(i,"월 평균 대여량: ",train_m["count"].mean())

for i in range(1,20):
    train_d=train[train["Day"].isin([i])]
    print(i,"일 평균 대여량 : ",train_d["Day"].mean())

2011년도 평균 대여량:  144.223349317595
2012년도 평균 대여량 :  238.56094436310394
1 월 평균 대여량:  90.36651583710407
2 월 평균 대여량:  110.0033296337403
3 월 평균 대여량:  148.16981132075472
4 월 평균 대여량:  184.16061606160616
5 월 평균 대여량:  219.4594298245614
6 월 평균 대여량:  242.03179824561403
7 월 평균 대여량:  235.32565789473685
8 월 평균 대여량:  234.1184210526316
9 월 평균 대여량:  233.8052805280528
10 월 평균 대여량:  227.6992316136114
11 월 평균 대여량:  193.67727771679472
12 월 평균 대여량:  175.6140350877193
1 일 평균 대여량 :  1.0
2 일 평균 대여량 :  2.0
3 일 평균 대여량 :  3.0
4 일 평균 대여량 :  4.0
5 일 평균 대여량 :  5.0
6 일 평균 대여량 :  6.0
7 일 평균 대여량 :  7.0
8 일 평균 대여량 :  8.0
9 일 평균 대여량 :  9.0
10 일 평균 대여량 :  10.0
11 일 평균 대여량 :  11.0
12 일 평균 대여량 :  12.0
13 일 평균 대여량 :  13.0
14 일 평균 대여량 :  14.0
15 일 평균 대여량 :  15.0
16 일 평균 대여량 :  16.0
17 일 평균 대여량 :  17.0
18 일 평균 대여량 :  18.0
19 일 평균 대여량 :  19.0

In [260]:
# 4번 근무일 유무/ 요일/ 시즌/ 날씨에 따른 시간대별 자전거 대여량 구하기

train.workingday.value_counts() # 1 -> 7412, 0->3474
train_work=train[train["workingday"]==1]
train_not_work=train[train["workingday"]==0]
#     train_m=train[train["Month"].isin([i])]
#     print(i,"월 평균 대여량: ",train_m["count"].mean())

# 요일에 따른 분류
train_mon=train[train.datetime.dt.dayofweek==0]
train_tue=train[train.datetime.dt.dayofweek==1]
train_wed=train[train.datetime.dt.dayofweek==2]
train_thu=train[train.datetime.dt.dayofweek==3]
train_fri=train[train.datetime.dt.dayofweek==4]
train_sat=train[train.datetime.dt.dayofweek==5]
train_sun=train[train.datetime.dt.dayofweek==6]

# 시즌에 따른 분류
train_win=train[train["season"]==1]
train_spr=train[train["season"]==2]
train_sum=train[train["season"]==3]
train_fal=train[train["season"]==4]

#날씨에 따른 분류
train_cold=train[train["weather"]==1]
train_warm=train[train["weather"]==2]
train_hot=train[train["weather"]==3]
train_cool=train[train["weather"]==4]


for i in range(24):
    ttrain_work=train_work[train_work["Hour"].isin([i])]
    ttrain_not_work=train_not_work[train_not_work["Hour"].isin([i])]
    ttrain_mon=train_mon[train_mon["Hour"].isin([i])]
    ttrain_tue=train_tue[train_tue["Hour"].isin([i])]
    ttrain_wed=train_wed[train_wed["Hour"].isin([i])]
    ttrain_thu=train_thu[train_thu["Hour"].isin([i])]
    ttrain_fri=train_fri[train_fri["Hour"].isin([i])]
    ttrain_sat=train_sat[train_sat["Hour"].isin([i])]
    ttrain_sun=train_sun[train_sun["Hour"].isin([i])]
    ttrain_win=train_win[train_win["Hour"].isin([i])]
    ttrain_spr=train_spr[train_spr["Hour"].isin([i])]
    ttrain_sum=train_sum[train_sum["Hour"].isin([i])]
    ttrain_fal=train_fal[train_fal["Hour"].isin([i])]
    ttrain_cold=train_cold[train_cold["Hour"].isin([i])]
    ttrain_warm=train_warm[train_warm["Hour"].isin([i])]
    ttrain_hot=train_hot[train_hot["Hour"].isin([i])]
    ttrain_cool=train_cool[train_cool["Hour"].isin([i])]
    
    print(i,"시 근무하는 날 대여량",ttrain_work["count"].sum())
    print(i,"시 쉬는 날 대여량", ttrain_not_work["count"].sum())
    print(i, "시 월요일 대여량", ttrain_mon["count"].sum())
    print(i, "시 화요일 대여량", ttrain_tue["count"].sum())
    print(i, "시 수요일 대여량", ttrain_wed["count"].sum())
    print(i, "시 목요일 대여량", ttrain_thu["count"].sum())
    print(i, "시 금요일 대여량", ttrain_fri["count"].sum())
    print(i, "시 토요일 대여량", ttrain_sat["count"].sum())
    print(i, "시 일요일 대여량", ttrain_sun["count"].sum())
    print(i, "시 겨울 대여량", ttrain_win["count"].sum())
    print(i, "시 봄 대여량", ttrain_spr["count"].sum())
    print(i, "시 여름 대여량", ttrain_sum["count"].sum())
    print(i, "시 가을 대여량", ttrain_fal["count"].sum())
    print(i, "시 겨울 대여량", ttrain_fal["count"].sum())
    print(i, "시 추울때 대여량", ttrain_cold["count"].sum())
    print(i, "시 따뜻할떄 대여량", ttrain_warm["count"].sum())
    print(i, "시 더울때 대여량", ttrain_hot["count"].sum())
    print(i, "시 선선할때 대여량", ttrain_cool["count"].sum())
    print("="*70)

0 시 근무하는 날 대여량 11387
0 시 쉬는 날 대여량 13701
0 시 월요일 대여량 2307
0 시 화요일 대여량 1749
0 시 수요일 대여량 2356
0 시 목요일 대여량 2436
0 시 금요일 대여량 3407
0 시 토요일 대여량 6482
0 시 일요일 대여량 6351
0 시 겨울 대여량 3197
0 시 봄 대여량 6666
0 시 여름 대여량 8627
0 시 가을 대여량 6598
0 시 겨울 대여량 6598
0 시 추울때 대여량 18214
0 시 따뜻할떄 대여량 6106
0 시 더울때 대여량 768
0 시 선선할때 대여량 0
======================================================================
1 시 근무하는 날 대여량 4945
1 시 쉬는 날 대여량 10427
1 시 월요일 대여량 1175
1 시 화요일 대여량 750
1 시 수요일 대여량 1015
1 시 목요일 대여량 1002
1 시 금요일 대여량 1565
1 시 토요일 대여량 4621
1 시 일요일 대여량 5244
1 시 겨울 대여량 2120
1 시 봄 대여량 4063
1 시 여름 대여량 5066
1 시 가을 대여량 4123
1 시 겨울 대여량 4123
1 시 추울때 대여량 10397
1 시 따뜻할떄 대여량 4246
1 시 더울때 대여량 729
1 시 선선할때 대여량 0
======================================================================
2 시 근무하는 날 대여량 2573
2 시 쉬는 날 대여량 7686
2 시 월요일 대여량 672
2 시 화요일 대여량 397
2 시 수요일 대여량 527
2 시 목요일 대여량 539
2 시 금요일 대여량 802
2 시 토요일 대여량 3323
2 시 일요일 대여량 3999
2 시 겨울 대여량 1413
2 시 봄 대여량 2677
2 시 여름 대여량 3583
2 시 가을 대여량 2586
2 시 겨울 대여량 2586
2 시 추울때 대여량 6933
2 시 따뜻할떄 대여량 2883
2 시 더울때 대여량 443
2 시 선선할때 대여량 0
======================================================================
3 시 근무하는 날 대여량 1414
3 시 쉬는 날 대여량 3677
3 시 월요일 대여량 335
3 시 화요일 대여량 234
3 시 수요일 대여량 305
3 시 목요일 대여량 297
3 시 금요일 대여량 392
3 시 토요일 대여량 1522
3 시 일요일 대여량 2006
3 시 겨울 대여량 745
3 시 봄 대여량 1312
3 시 여름 대여량 1783
3 시 가을 대여량 1251
3 시 겨울 대여량 1251
3 시 추울때 대여량 3408
3 시 따뜻할떄 대여량 1502
3 시 더울때 대여량 181
3 시 선선할때 대여량 0
======================================================================
4 시 근무하는 날 대여량 1593
4 시 쉬는 날 대여량 1239
4 시 월요일 대여량 393
4 시 화요일 대여량 325
4 시 수요일 대여량 287
4 시 목요일 대여량 334
4 시 금요일 대여량 350
4 시 토요일 대여량 506
4 시 일요일 대여량 637
4 시 겨울 대여량 337
4 시 봄 대여량 749
4 시 여름 대여량 922
4 시 가을 대여량 824
4 시 겨울 대여량 824
4 시 추울때 대여량 1868
4 시 따뜻할떄 대여량 815
4 시 더울때 대여량 149
4 시 선선할때 대여량 0
======================================================================
5 시 근무하는 날 대여량 7604
5 시 쉬는 날 대여량 1331
5 시 월요일 대여량 1457
5 시 화요일 대여량 1537
5 시 수요일 대여량 1628
5 시 목요일 대여량 1658
5 시 금요일 대여량 1496
5 시 토요일 대여량 562
5 시 일요일 대여량 597
5 시 겨울 대여량 1133
5 시 봄 대여량 2323
5 시 여름 대여량 2933
5 시 가을 대여량 2546
5 시 겨울 대여량 2546
5 시 추울때 대여량 5893
5 시 따뜻할떄 대여량 2552
5 시 더울때 대여량 490
5 시 선선할때 대여량 0
======================================================================
6 시 근무하는 날 대여량 31799
6 시 쉬는 날 대여량 2899
6 시 월요일 대여량 5801
6 시 화요일 대여량 6744
6 시 수요일 대여량 6878
6 시 목요일 대여량 7035
6 시 금요일 대여량 5847
6 시 토요일 대여량 1394
6 시 일요일 대여량 999
6 시 겨울 대여량 4828
6 시 봄 대여량 9460
6 시 여름 대여량 11033
6 시 가을 대여량 9377
6 시 겨울 대여량 9377
6 시 추울때 대여량 23198
6 시 따뜻할떄 대여량 8933
6 시 더울때 대여량 2567
6 시 선선할때 대여량 0
======================================================================
7 시 근무하는 날 대여량 90114
7 시 쉬는 날 대여량 6854
7 시 월요일 대여량 16926
7 시 화요일 대여량 19047
7 시 수요일 대여량 19321
7 시 목요일 대여량 20000
7 시 금요일 대여량 16263
7 시 토요일 대여량 3118
7 시 일요일 대여량 2293
7 시 겨울 대여량 14061
7 시 봄 대여량 26478
7 시 여름 대여량 30100
7 시 가을 대여량 26329
7 시 겨울 대여량 26329
7 시 추울때 대여량 60857
7 시 따뜻할떄 대여량 30604
7 시 더울때 대여량 5507
7 시 선선할때 대여량 0
======================================================================
8 시 근무하는 날 대여량 148783
8 시 쉬는 날 대여량 16277
8 시 월요일 대여량 27827
8 시 화요일 대여량 30027
8 시 수요일 대여량 31537
8 시 목요일 대여량 32276
8 시 금요일 대여량 30093
8 시 토요일 대여량 7759
8 시 일요일 대여량 5541
8 시 겨울 대여량 28628
8 시 봄 대여량 44482
8 시 여름 대여량 46000
8 시 가을 대여량 45950
8 시 겨울 대여량 45950
8 시 추울때 대여량 101041
8 시 따뜻할떄 대여량 56537
8 시 더울때 대여량 7482
8 시 선선할때 대여량 0
======================================================================
9 시 근무하는 날 대여량 75111
9 시 쉬는 날 대여량 25799
9 시 월요일 대여량 14713
9 시 화요일 대여량 15113
9 시 수요일 대여량 15520
9 시 목요일 대여량 15718
9 시 금요일 대여량 16794
9 시 토요일 대여량 12580
9 시 일요일 대여량 10472
9 시 겨울 대여량 17452
9 시 봄 대여량 27394
9 시 여름 대여량 28581
9 시 가을 대여량 27483
9 시 겨울 대여량 27483
9 시 추울때 대여량 61796
9 시 따뜻할떄 대여량 34935
9 시 더울때 대여량 4179
9 시 선선할때 대여량 0
======================================================================
10 시 근무하는 날 대여량 41415
10 시 쉬는 날 대여량 38252
10 시 월요일 대여량 9164
10 시 화요일 대여량 8268
10 시 수요일 대여량 8603
10 시 목요일 대여량 8341
10 시 금요일 대여량 10036
10 시 토요일 대여량 17789
10 시 일요일 대여량 17466
10 시 겨울 대여량 11545
10 시 봄 대여량 21971
10 시 여름 대여량 24913
10 시 가을 대여량 21238
10 시 겨울 대여량 21238
10 시 추울때 대여량 53907
10 시 따뜻할떄 대여량 23045
10 시 더울때 대여량 2715
10 시 선선할때 대여량 0
======================================================================
11 시 근무하는 날 대여량 48676
11 시 쉬는 날 대여량 47181
11 시 월요일 대여량 11137
11 시 화요일 대여량 9319
11 시 수요일 대여량 9681
11 시 목요일 대여량 10155
11 시 금요일 대여량 11957
11 시 토요일 대여량 22406
11 시 일요일 대여량 21202
11 시 겨울 대여량 13854
11 시 봄 대여량 27255
11 시 여름 대여량 29284
11 시 가을 대여량 25464
11 시 겨울 대여량 25464
11 시 추울때 대여량 66237
11 시 따뜻할떄 대여량 26980
11 시 더울때 대여량 2640
11 시 선선할때 대여량 0
======================================================================
12 시 근무하는 날 대여량 61997
12 시 쉬는 날 대여량 54971
12 시 월요일 대여량 13948
12 시 화요일 대여량 11767
12 시 수요일 대여량 12364
12 시 목요일 대여량 12930
12 시 금요일 대여량 15127
12 시 토요일 대여량 25665
12 시 일요일 대여량 25167
12 시 겨울 대여량 17603
12 시 봄 대여량 32607
12 시 여름 대여량 35000
12 시 가을 대여량 31758
12 시 겨울 대여량 31758
12 시 추울때 대여량 79876
12 시 따뜻할떄 대여량 32990
12 시 더울때 대여량 4102
12 시 선선할때 대여량 0
======================================================================
13 시 근무하는 날 대여량 61317
13 시 쉬는 날 대여량 56234
13 시 월요일 대여량 13870
13 시 화요일 대여량 11820
13 시 수요일 대여량 11605
13 시 목요일 대여량 12695
13 시 금요일 대여량 15570
13 시 토요일 대여량 26591
13 시 일요일 대여량 25400
13 시 겨울 대여량 18328
13 시 봄 대여량 33059
13 시 여름 대여량 34704
13 시 가을 대여량 31460
13 시 겨울 대여량 31460
13 시 추울때 대여량 82606
13 시 따뜻할떄 대여량 31503
13 시 더울때 대여량 3442
13 시 선선할때 대여량 0
======================================================================
14 시 근무하는 날 대여량 56094
14 시 쉬는 날 대여량 54916
14 시 월요일 대여량 12972
14 시 화요일 대여량 10561
14 시 수요일 대여량 10850
14 시 목요일 대여량 11353
14 시 금요일 대여량 14532
14 시 토요일 대여량 26295
14 시 일요일 대여량 24447
14 시 겨울 대여량 17244
14 시 봄 대여량 31003
14 시 여름 대여량 32644
14 시 가을 대여량 30119
14 시 겨울 대여량 30119
14 시 추울때 대여량 79655
14 시 따뜻할떄 대여량 26868
14 시 더울때 대여량 4487
14 시 선선할때 대여량 0
======================================================================
15 시 근무하는 날 대여량 61773
15 시 쉬는 날 대여량 54187
15 시 월요일 대여량 13660
15 시 화요일 대여량 11770
15 시 수요일 대여량 11673
15 시 목요일 대여량 12575
15 시 금요일 대여량 15901
15 시 토요일 대여량 26323
15 시 일요일 대여량 24058
15 시 겨울 대여량 18136
15 시 봄 대여량 32537
15 시 여름 대여량 33625
15 시 가을 대여량 31662
15 시 겨울 대여량 31662
15 시 추울때 대여량 85223
15 시 따뜻할떄 대여량 24284
15 시 더울때 대여량 6453
15 시 선선할때 대여량 0
======================================================================
16 시 근무하는 날 대여량 90957
16 시 쉬는 날 대여량 53309
16 시 월요일 대여량 19178
16 시 화요일 대여량 18467
16 시 수요일 대여량 17448
16 시 목요일 대여량 18741
16 시 금요일 대여량 21216
16 시 토요일 대여량 25091
16 시 일요일 대여량 24125
16 시 겨울 대여량 21505
16 시 봄 대여량 40944
16 시 여름 대여량 42331
16 시 가을 대여량 39486
16 시 겨울 대여량 39486
16 시 추울때 대여량 107986
16 시 따뜻할떄 대여량 28686
16 시 더울때 대여량 7594
16 시 선선할때 대여량 0
======================================================================
17 시 근무하는 날 대여량 164584
17 시 쉬는 날 대여량 49173
17 시 월요일 대여량 33890
17 시 화요일 대여량 35371
17 시 수요일 대여량 33102
17 시 목요일 대여량 34876
17 시 금요일 대여량 32129
17 시 토요일 대여량 22854
17 시 일요일 대여량 21535
17 시 겨울 대여량 32314
17 시 봄 대여량 61596
17 시 여름 대여량 64454
17 시 가을 대여량 55393
17 시 겨울 대여량 55393
17 시 추울때 대여량 160532
17 시 따뜻할떄 대여량 38078
17 시 더울때 대여량 15147
17 시 선선할때 대여량 0
======================================================================
18 시 근무하는 날 대여량 154096
18 시 쉬는 날 대여량 42376
18 시 월요일 대여량 32472
18 시 화요일 대여량 33983
18 시 수요일 대여량 31811
18 시 목요일 대여량 32943
18 시 금요일 대여량 27366
18 시 토요일 대여량 19848
18 시 일요일 대여량 18049
18 시 겨울 대여량 29430
18 시 봄 대여량 56947
18 시 여름 대여량 61454
18 시 가을 대여량 48641
18 시 겨울 대여량 48641
18 시 추울때 대여량 143129
18 시 따뜻할떄 대여량 39462
18 시 더울때 대여량 13717
18 시 선선할때 대여량 164
======================================================================
19 시 근무하는 날 대여량 108627
19 시 쉬는 날 대여량 35140
19 시 월요일 대여량 23396
19 시 화요일 대여량 23148
19 시 수요일 대여량 22635
19 시 목요일 대여량 23663
19 시 금요일 대여량 19428
19 시 토요일 대여량 16498
19 시 일요일 대여량 14999
19 시 겨울 대여량 20100
19 시 봄 대여량 42401
19 시 여름 대여량 47139
19 시 가을 대여량 34127
19 시 겨울 대여량 34127
19 시 추울때 대여량 108509
19 시 따뜻할떄 대여량 29200
19 시 더울때 대여량 6058
19 시 선선할때 대여량 0
======================================================================
20 시 근무하는 날 대여량 77552
20 시 쉬는 날 대여량 26652
20 시 월요일 대여량 16229
20 시 화요일 대여량 16244
20 시 수요일 대여량 16352
20 시 목요일 대여량 17701
20 시 금요일 대여량 13875
20 시 토요일 대여량 12412
20 시 일요일 대여량 11391
20 시 겨울 대여량 14181
20 시 봄 대여량 30469
20 시 여름 대여량 35094
20 시 가을 대여량 24460
20 시 겨울 대여량 24460
20 시 추울때 대여량 80511
20 시 따뜻할떄 대여량 18871
20 시 더울때 대여량 4822
20 시 선선할때 대여량 0
======================================================================
21 시 근무하는 날 대여량 57490
21 시 쉬는 날 대여량 21567
21 시 월요일 대여량 11632
21 시 화요일 대여량 11909
21 시 수요일 대여량 12393
21 시 목요일 대여량 12981
21 시 금요일 대여량 10939
21 시 토요일 대여량 10495
21 시 일요일 대여량 8708
21 시 겨울 대여량 10864
21 시 봄 대여량 22719
21 시 여름 대여량 26906
21 시 가을 대여량 18568
21 시 겨울 대여량 18568
21 시 추울때 대여량 58598
21 시 따뜻할떄 대여량 17129
21 시 더울때 대여량 3330
21 시 선선할때 대여량 0
======================================================================
22 시 근무하는 날 대여량 43025
22 시 쉬는 날 대여량 17886
22 시 월요일 대여량 7802
22 시 화요일 대여량 8491
22 시 수요일 대여량 9126
22 시 목요일 대여량 9676
22 시 금요일 대여량 9768
22 시 토요일 대여량 9462
22 시 일요일 대여량 6586
22 시 겨울 대여량 8312
22 시 봄 대여량 17578
22 시 여름 대여량 20610
22 시 가을 대여량 14411
22 시 겨울 대여량 14411
22 시 추울때 대여량 46138
22 시 따뜻할떄 대여량 12206
22 시 더울때 대여량 2567
22 시 선선할때 대여량 0
======================================================================
23 시 근무하는 날 대여량 27678
23 시 쉬는 날 대여량 13138
23 시 월요일 대여량 4340
23 시 화요일 대여량 4944
23 시 수요일 대여량 5209
23 시 목요일 대여량 6476
23 시 금요일 대여량 7651
23 시 토요일 대여량 7922
23 시 일요일 대여량 4274
23 시 겨울 대여량 5168
23 시 봄 대여량 11592
23 시 여름 대여량 13876
23 시 가을 대여량 10180
23 시 겨울 대여량 10180
23 시 추울때 대여량 29551
23 시 따뜻할떄 대여량 8745
23 시 더울때 대여량 2520
23 시 선선할때 대여량 0
======================================================================

In [329]:
# 5번 연도별 월별 자전거 대여량 구하기

train.Year.value_counts() #2012, 2011
train.Month.value_counts() # 1~12

train["Year"]=train['datetime'].dt.year


for i in range(2011,2013):
    for j in range(1,13):
        train_year=train[train["Year"].isin([i])]
        train_month=train_year[train_year["Month"].isin([j])]
        print(i,"년",j,"월 대여량",train_month["count"].sum())
    print("="*70)

2011 년 1 월 대여량 23552
2011 년 2 월 대여량 32844
2011 년 3 월 대여량 38735
2011 년 4 월 대여량 50517
2011 년 5 월 대여량 79713
2011 년 6 월 대여량 89776
2011 년 7 월 대여량 92848
2011 년 8 월 대여량 83296
2011 년 9 월 대여량 79104
2011 년 10 월 대여량 79522
2011 년 11 월 대여량 70889
2011 년 12 월 대여량 61183
======================================================================
2012 년 1 월 대여량 56332
2012 년 2 월 대여량 66269
2012 년 3 월 대여량 94766
2012 년 4 월 대여량 116885
2012 년 5 월 대여량 120434
2012 년 6 월 대여량 130957
2012 년 7 월 대여량 121769
2012 년 8 월 대여량 130220
2012 년 9 월 대여량 133425
2012 년 10 월 대여량 127912
2012 년 11 월 대여량 105551
2012 년 12 월 대여량 98977
======================================================================

In [330]:
# 6번 아웃라이어 제거
q1=np.percentile(train["count"],25)
q3=np.percentile(train["count"],75)
iqr=q3-q1
iqr
for i in range(10886):
    n=train.iloc[i,11]
    if (n-train["count"].mean()) >= 3*train["count"].std():
        train.iloc[i,11]=iqr

In [331]:
# 7번 시즌컬럼 원핫 인코딩
train.season.max()
train.season.min()
bins=np.linspace(train.season.min(), train.season.max(), 4)
season_ohe=pd.get_dummies(train.season, prefix="Season")
pd.concat([train, season_ohe],axis=1)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,...,Year,Month,Day,Hour,Minute,Second,Season_1,Season_2,Season_3,Season_4
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,...,2011,1,1,0,0,0,1,0,0,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,...,2011,1,1,1,0,0,1,0,0,0
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,...,2011,1,1,2,0,0,1,0,0,0
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,...,2011,1,1,3,0,0,1,0,0,0
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,...,2011,1,1,4,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,...,2012,12,19,19,0,0,0,0,0,1
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,...,2012,12,19,20,0,0,0,0,0,1
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,...,2012,12,19,21,0,0,0,0,0,1
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,...,2012,12,19,22,0,0,0,0,0,1
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,...,2012,12,19,23,0,0,0,0,0,1

In [355]:
# 8번 각 필드에 0으로 저장되어 있는 것을 근사값으로 보정
# 습도, 풍속
# 습도 근사값=x, temp*(x/2)%=atemp
for i in range(10886):
    if train.loc[i]["humidity"]==0:
        x=(train.loc[i]["atemp"])/(train.loc[i]["temp"])
        x=(x-1)*100
        train.loc[i]["humidity"]=x.astype(np.int64)
        
    elif train.loc[i]["windspeed"]==0:
        v=((train.loc[i]["temp"]-13.12-(0.6215*train.loc[i]["atemp"]))/(-11.37+(0.3965*train.loc[i]["atemp"])))**(math.log(16))
        train.loc[i]["windspeed"]=v.astype(np.float64)

In [356]:
train

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,Year,Month,Day,Hour,Minute,Second
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16.0,2011,1,1,0,0,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40.0,2011,1,1,1,0,0
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32.0,2011,1,1,2,0,0
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13.0,2011,1,1,3,0,0
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1.0,2011,1,1,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336.0,2012,12,19,19,0,0
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241.0,2012,12,19,20,0,0
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168.0,2012,12,19,21,0,0
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129.0,2012,12,19,22,0,0
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88.0,2012,12,19,23,0,0

In [315]:
train[train.humidity==0]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,Year,Month,Day,Hour,Minute,Second
1091,2011-03-10 00:00:00,1,0,1,3,13.94,15.910,0,16.9979,3,0,3.0,2011,3,10,0,0,0
1092,2011-03-10 01:00:00,1,0,1,3,13.94,15.910,0,16.9979,0,2,2.0,2011,3,10,1,0,0
1093,2011-03-10 02:00:00,1,0,1,3,13.94,15.910,0,16.9979,0,1,1.0,2011,3,10,2,0,0
1094,2011-03-10 05:00:00,1,0,1,3,14.76,17.425,0,12.9980,1,2,3.0,2011,3,10,5,0,0
1095,2011-03-10 06:00:00,1,0,1,3,14.76,16.665,0,22.0028,0,12,12.0,2011,3,10,6,0,0
1096,2011-03-10 07:00:00,1,0,1,3,15.58,19.695,0,15.0013,1,36,37.0,2011,3,10,7,0,0
1097,2011-03-10 08:00:00,1,0,1,3,15.58,19.695,0,19.0012,1,43,44.0,2011,3,10,8,0,0
1098,2011-03-10 09:00:00,1,0,1,3,16.40,20.455,0,15.0013,1,23,24.0,2011,3,10,9,0,0
1099,2011-03-10 10:00:00,1,0,1,3,16.40,20.455,0,11.0014,0,17,17.0,2011,3,10,10,0,0
1100,2011-03-10 11:00:00,1,0,1,3,16.40,20.455,0,16.9979,6,5,11.0,2011,3,10,11,0,0
1101,2011-03-10 12:00:00,1,0,1,3,17.22,21.210,0,15.0013,4,30,34.0,2011,3,10,12,0,0
1102,2011-03-10 13:00:00,1,0,1,3,17.22,21.210,0,15.0013,1,11,12.0,2011,3,10,13,0,0
1103,2011-03-10 14:00:00,1,0,1,3,18.04,21.970,0,19.9995,0,12,12.0,2011,3,10,14,0,0
1104,2011-03-10 15:00:00,1,0,1,3,18.04,21.970,0,15.0013,3,11,14.0,2011,3,10,15,0,0
1105,2011-03-10 16:00:00,1,0,1,3,17.22,21.210,0,16.9979,1,20,21.0,2011,3,10,16,0,0
1106,2011-03-10 17:00:00,1,0,1,2,18.04,21.970,0,26.0027,2,109,111.0,2011,3,10,17,0,0
1107,2011-03-10 18:00:00,1,0,1,3,18.04,21.970,0,23.9994,2,80,82.0,2011,3,10,18,0,0
1108,2011-03-10 19:00:00,1,0,1,3,18.04,21.970,0,39.0007,5,51,56.0,2011,3,10,19,0,0
1109,2011-03-10 20:00:00,1,0,1,3,14.76,16.665,0,22.0028,9,29,38.0,2011,3,10,20,0,0
1110,2011-03-10 21:00:00,1,0,1,3,14.76,17.425,0,15.0013,1,27,28.0,2011,3,10,21,0,0
1111,2011-03-10 22:00:00,1,0,1,2,13.94,16.665,0,8.9981,4,30,34.0,2011,3,10,22,0,0
1112,2011-03-10 23:00:00,1,0,1,3,13.94,17.425,0,6.0032,1,26,27.0,2011,3,10,23,0,0

In [316]:
train[train.windspeed==0]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,Year,Month,Day,Hour,Minute,Second
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16.0,2011,1,1,0,0,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40.0,2011,1,1,1,0,0
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32.0,2011,1,1,2,0,0
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13.0,2011,1,1,3,0,0
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1.0,2011,1,1,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10826,2012-12-17 12:00:00,4,0,1,2,16.40,20.455,87,0.0,21,211,232.0,2012,12,17,12,0,0
10829,2012-12-17 15:00:00,4,0,1,2,17.22,21.210,88,0.0,15,196,211.0,2012,12,17,15,0,0
10846,2012-12-18 08:00:00,4,0,1,1,15.58,19.695,94,0.0,10,652,662.0,2012,12,18,8,0,0
10860,2012-12-18 22:00:00,4,0,1,1,13.94,16.665,49,0.0,5,127,132.0,2012,12,18,22,0,0
10862,2012-12-19 00:00:00,4,0,1,1,12.30,15.910,61,0.0,6,35,41.0,2012,12,19,0,0,0

In [352]:
train

TypeError: list indices must be integers or slices, not str